@font-face {
    font-family: inter-regular;
    src: url("../fonts/Inter-Regular.ttf");
}

@font-face {
    font-family: inter-light;
    src: url("../fonts/Inter-Light.ttf");
}

@font-face {
    font-family: inter-SemiBold;
    src: url("../fonts/Inter-SemiBold.ttf");
}

/* indirdiğimiz kendi fontumuzu yukarıdaki gibi ekleriz
   ve isim veriririz. Aşağıada verdiğimiz isimleri yazarak kullanmış oluruz */

*{
    padding: 0;
    margin: 0;
}

html, body{
    background-color: #e3e3e3;
    font-family: inter-regular; 
    height: 100%;
    width: 100%;
}

.header-table {   /* bu divi oluşturmamızın nedini taşma olmasını engelleme */
    width: 100%;
    display: table;
}

.header-table-cell {
    background-color: white;
    width: 100%;
    padding: 10px;
    display: table-cell;
}

.header-container{
    flex-direction: row;  /* içinde yatayda sıralama yapar */
    justify-content: space-between;  /* içindekilerin yatayda kenarlara gitmesini sağlar */
    align-items: center;
    user-select: none;
    width: 100%;
    display: flex;
}

.header-content-container {
    flex-direction: row;
    align-items: center;  /* içindekileri ortalammaızı sağlar */
    display: flex;
    user-select: none; /* seçilememesini salarız */
    gap: 10px;  /* içindeki nesneler arası boşluk ayarlar */ 
}

.click-event:hover {  /* ÜSTÜNE GELDİĞİNDE OLACAKLAR */
    cursor: pointer; /* tıklanabilir yapıyor */
    opacity: 0.75;
    user-select: none;
}

.click-event:active {  /* TIKLANDIĞINDA OLACAKLAR */
    transform: translateY(2px);  /* y ekseninde aşağı kaymasını sağlar */
    transition: transform 0.1s;
    user-select: none;
}

button {
    background-color: #FF001F;
    border: 2px solid #FF001F;
    font-family: inter-semibold;
    border-radius: 50px;
    padding: 12px 60px;
    user-select: none;
    font-size: 16px;
    color: white;
}

button:hover {
    user-select: none;
    cursor: pointer;
    opacity: 0.75;
}

button:active {
    transform: translateY(2px);
    transition: transform 0.1s;
    user-select: none;
}

button.filled {
    background-color: #FF001F;
    color: white;
}

button.outline {
    background-color: transparent;
    border: 2px solid #FF001F;
    color: #FF001F;
}

button.ghost {
    background-color: transparent;
    border: 2px solid transparent;
    color: #FF001F;
}

.header-logo {
    height: 65px;
    width: 65px;
    border-radius: 50%;
}

.header-content {
    flex-direction: column;  /* içindekileri alt alta almamızı sağlar */
    display: flex;
    gap: 4px;
}

.header-content span:nth-child(1) { 
    font-family: inter-SemiBold; 
    color: #FF001F;
    font-size: 22px;
}

.header-content span:nth-child(2) { 
    font-family: inter-regular; 
    color: #2E2E2E;
    font-size: 18px;
}

/* nth-child(x) => .header-content içindeki x. spana şu özelliği ver demek
   x: 1'den başlar */

a {
    text-decoration: none;  /* altındaki çizgileri siler */
    color: #232323;
}   

a:hover {
    text-decoration: none;
    color: #FF001F
}

.nav-container {
    display: flex;
    gap: 20px;
}

.section-title {
    font-family: inter-bold;
    margin-bottom: 40px;
    color: #212121;
    font-size: 34px;
}

.section-container {
    justify-content: center;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    user-select: none;
    display: flex;
    padding: 40px;
    height: 75%;
    width: 100%;
}

.section-content-container {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    max-width: 90%;
    display: flex;
    gap: 20px;
}

@media screen and (max-width: 800px) {
    .section-container {
        height: "auto"
    }

    .section-content-container {
        justify-content: center;
        flex-direction: column;
    }
}

.text-input-container {
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    display: flex;
    width: 100%;
}

.text-input-container label {
    font-family: inter-semibold;
    margin-bottom: 10px;
    text-align: left;
    font-size: 20px;
    width: 100%;
}

.text-input-container input {
    font-family: inter-regular;
    border: 2px solid white;
    font-size: 18px;
    border-radius: 10px;
    outline: none;
    padding: 20px;
    width: 100%;
}

.text-input-container input:focus {
    border: 2px solid #FF001F;
    outline: none;
}

.multi-text-input-container {
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    display: flex;
    width: 100%;
}

.multi-text-input-container label {
    font-family: inter-semibold;
    margin-bottom: 10px;
    text-align: left;
    font-size: 20px;
    width: 100%;
}

.multi-text-input-container textarea {
    font-family: inter-regular;
    border: 2px solid white;
    border-radius: 10px;
    min-height: 150px;
    resize: vertical;
    font-size: 18px;
    outline: none;
    padding: 20px;
    width: 100%;
}

.multi-text-input-container textarea:focus {
    border: 2px solid #FF001F;
    outline: none;
}

.footer-container {         /* bütün sayfalarda olacağı için buraya kaydettik */
    justify-content: space-between;
    background-color: white;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    padding: 20px 30px;
    user-select: none;
    display: flex;
    width: 100%;
}

.footer-logo {
    height: 50px;
}
